/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #266298; /* Primary color */
  --secondary-color: #1f4e7a; /* Secondary color */
  --background-color: #f4f4f4; /* Background color */
}

/* General Styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #f0f4f8); /* Subtle gradient background */
  color: #555; /* Adjusted text color for better readability */
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Container */
.container-small {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  background-color: #eaeff2; /* Slightly darker navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  padding: 10px; /* Add padding to navbar for smaller screens */
}

.navbar .logo img {
  margin-left: 20px;
  width: 93px;
}

.navbar .nav-links {
  margin-right: 20px;
}

.contact-link {
  position: relative;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0;
}

.contact-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.contact-link:hover::after {
  transform: scaleX(1);
}

/* Header Section (Full-Width Background Image) */
header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/office.png") no-repeat center center/cover;
  text-align: center;
  padding: 20px 20px;
  color: #e8f1f8;
  z-index: 1;
  min-height: 500px;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 100, 168, 0.4);
  z-index: -1;
}

.header-text {
  position: relative;
  z-index: 2;
}

.header-text h1,
.header-text h2 {
  margin: 0;
}

.header-text h1 {
  font-family: "Tinos", serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0.9;
  margin: 0;
}

.header-text h1 span {
  font-size: 26px;
  display: inline-block;
  line-height: 1;
}

.header-text h2 {
  font-family: "Tinos", serif;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: -1px;
  margin-top: 2px;
  margin-bottom: 15%;
}

header p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.6rem;
  font-weight: 300;
  letter-spacing: 2px;
}

/* Call-to-Action Section */
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 15px;
  background-color: var(--primary-color); /* Uses primary color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: var(--secondary-color); /* Uses secondary color for hover */
}
/* Team Section */
.team {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  
  border-top: 1px solid #e0e0e0; /* Divider */
}

.team-title {
  text-align: center; /* Center the title */
  margin-top: 40px; /* Add margin above the title */
  margin-bottom: 40px; /* Space below the title */
}

.team-title blockquote {
  text-align: center; /* Center the quote */
  margin: 20px 0 40px; /* Margin around the quote */
  font-style: italic; /* Italicize the quote */
  
  padding-left: 20px; /* Space between the border and text */
  color: #555; /* Change color to differentiate from other text */
}

.team-title h2 {
  font-family: "Tinos", serif; /* Use the same font as other headings */
  font-size: 28px; /* Adjust size as needed */
  margin: 0; /* Remove default margin */
}
.member {
  text-align: center;
  width: 300px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  border-radius: 5px;
  background-color: #f1f5f7;
}

.member img {
  width: auto;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 20px;
  object-fit: cover;
}

.member h3 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #222; /* Darker heading color */
}

.member p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 15px 0;
  letter-spacing: 0.5px;
}

a {
  color: #333;
  text-decoration: underline;
}

/* Footer Styles */
footer {
  background-color: #f2f3f6;
  color: #333;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  bottom: 0;
  font-size: 14px;
  margin-top: 20px;
}

/* Footer Content Styles */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  max-width: 50px;
  height: auto;
  margin-right: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .team {
    flex-direction: column;
    align-items: center;
  }

  .member {
    margin-bottom: 40px;
  }

  header {
    padding: 20px 10px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text h2 {
    font-size: 18px;
    margin-bottom: 15%; /* Reduce margin for medium screens */
  }

  header p {
    font-size: 24px;
  }

  .navbar .nav-links {
    margin-right: 0;
    margin-top: 10px;
  }

  .contact-link {
    font-size: 16px;
  }
  header {
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  .navbar .container {
    flex-direction: column;
    height: auto;
  }
  header {
    min-height: 300px;
  }

  .header-text h2 {
    margin-bottom: 15%; /* Reduce margin for medium screens */
  }
  .contact-link {
    display: none; /* Hides the contact link on screens smaller than 768px */
  }

  .navbar .nav-links {
    margin-right: 0;
    margin-top: 10px;
  }
}
